/* ── Base ── */
.btn {
  @apply inline-block font-bold tracking-widest uppercase transition-colors;
  font-family: 'Inter Tight', sans-serif;
}

/* ── Variants ── */
.btn--primary {
  @apply bg-rice-yellow text-rice-blue px-10 py-3 rounded-[50px] hover:bg-white;
}

.btn--outline {
  @apply border-[2px] rounded-[50px] px-[36px] py-[14px];
  font-size: 20px;
  font-weight: 600;
}

.btn--outline-orange {
  @apply border-rice-orange text-rice-orange hover:bg-rice-orange hover:text-white;
  @apply border-[2px] rounded-[50px] px-[36px] py-[14px];
  font-size: 20px;
  font-weight: 600;
}

.btn--outline-yellow {
  @apply border-rice-yellow text-rice-yellow hover:bg-rice-yellow hover:text-black;
  @apply border-[2px] rounded-[50px] px-[36px] py-[14px];
  font-size: 20px;
  font-weight: 600;
}

.btn--submit {
  @apply w-full md:w-auto px-12 py-4 bg-white text-black font-bold tracking-widest uppercase hover:bg-gray-200 disabled:opacity-50;
}
